<h3>Successfully logged in</h3>

<div>
    <div>Logged in as: {{ClientId}}</div>
    <div>Access Token: {{AccessToken}}</div>
    <div>Refresh Token: {{RefreshToken}}</div>
    <div>Token Type: {{TokenType}}</div>
    <div>Scope: {{Scope}}</div>
</div>

<div class="divider">&nbsp;</div>

<div id="resource-data"></div>