<h3>Please Log In</h3>
<div class="form-group col-md-3">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="username">
</div>
<div class="form-group col-md-3">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="password">
</div>

<div class="divider">&nbsp;</div>

<div class="form-group col-md-3">
    <button id="login-button" class="btn btn-primary">Log In</button>
</div>