<h3>Successfully logged in</h3>

<div>
    <div>Logged in as: {{ClientId}}</div>
    <div>Access Token: {{AccessToken}}</div>
    <div>Expires In: {{Expiration}}</div>
    <div>Token Type: {{TokenType}}</div>
</div>